.timerbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.timevalue{
  font-size: 4rem;
  font-weight: 600;
}

.btn{
  background-color: white;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 2rem;
}

.btn img{
  
  width: 5rem;
}