.timersetup{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #CCB0F8;
  color: white;
  margin-top: 3rem;
  border-radius: 11px;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.hide{
  display: none;
}

.btns{
  font-size: 1rem;
  background-color: white;
  
}

.btnbox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.timerboxdiv{
  display: flex;
}