body{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #8A98DF;


}
.App{
  margin-top: 5rem;
position: relative;
}

button{
  cursor: pointer;
}